<div>
    <header class="header">
        <h1><img class="ups" src="https://www.ups.edu.ec/documents/20121/77326/Isotipo+Original.png/48fb2ada-b4e7-09df-b45a-884cda62cc9b?version=1.0&t=1620746533255&imagePreview=1" alt="Logo Ups"> Biblioteca UPS</h1>
        <nav>
            <ul class="nav_links">
                <li><a routerLink="">Mi Perfil</a></li>
                <li><a class="user"><strong>{{usuario}}</strong></a></li>
            </ul>
        </nav>
    </header>
</div>
<br><br>
<div>
    <h3>Bienvenido: {{email}}</h3>
</div>
<div>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="search-form">
        <input formControlName="query" placeholder="Buscar libros">
        <button type="submit">Buscar</button>
      </form>
    <div class="books-container">
        <div class="book" *ngFor="let book of books | slice:0:12">
          <strong>{{ book.title }}</strong>
          <p><strong>Autor: </strong>{{book.author_name}} <br>
            <strong>Edición: </strong>{{book.edition_count}}
            <img [src]="getCoverUrl(book.cover_i)" alt="{{book.title}}">
          </p>
        </div>
    </div>
</div>